project:
  type: book
  output-dir: docs

book:
  title: "COMP/STAT112 Notebook"
  author: "Madeleine"
  date: today
  reader-mode: true
  page-navigation: true
  back-to-top-navigation: true
  bread-crumbs: true
  
  
  sidebar:
    title: "Madeleine"
    collapse-level: 2
    style: "docked"
    pinned: true
    search: true
  
  
  chapters:
    - index.qmd

    - part: "Best Work"
      chapters: 
      - bw/bw-uni.qmd
      - bw/bw-bi.qmd
      - bw/bw-tri.qmd
      - bw/bw-quad.qmd
      - bw/bw-spatial.qmd
      - bw/exam-01.qmd
      - bw/exam-02.qmd
      - bw/Solo-Project.qmd
      
    - part: "Summary Sheets"
      chapters:
      - bw/Visualization_Wrangling.qmd

    - part: "In-class Activities"
      chapters: 
      - ica/introduction.qmd
      - ica/quarto-demo.qmd
      - ica/ica-uni.qmd
      - ica/ica-bi.qmd
      - ica/ica-multi.qmd
      - ica/ica-spatial.qmd
      - ica/ica-effective.qmd
      - ica/ica-wrangling.qmd
      - ica/ica-date.qmd
      - ica/ica-reshaping.qmd
      - ica/ica-joining.qmd
      - ica/ica-factors.qmd
      - ica/ica-strings.qmd
      - ica/ica-data_import.qmd

format:
  html:
    theme:
      light: flatly
      dark: darkly
    toc: true
    toc-depth: 3
    link-external-newwindow: true
    css: style/custom.css
    code-copy: true
    code-link: true
    code-line-numbers: true
    code-tools: true

execute:
  cache: false
  freeze: auto

editor: 
  markdown:
    wrap: sentence # Forces each sentence to be on its own line in source markdown, however, it doesn't affect how it is rendered
